
.yuml-body {
  background-color: #F6F5F4;
}

.yuml-image-frame {
  border-radius: 0;
  min-height: 200px;
}

.yuml-title {
  margin: 10px;
  font-size: 30px;
}

.yuml-combo {
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}

.yuml-frame {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.yuml-ingredient-label {
  background-color: #68904D;
  border-radius: 4px;
  color: white;
}

.yuml-step-label {
  background-color: #DA6A00;
  border-radius: 4px;
  color: white;
}

.yuml-variant-label {
  background-color: #EE9B01;
  border-radius: 4px;
  color: white;
}

.yuml-grid {
  margin: 10px;
}

.yuml-right-entry {
  margin-left: 20px;
  margin-right: 20px;
}

